body {
  background-image: url(https://www.sjpl.org/sites/default/files/styles/hero_image/public/2019-09/virtual-reality-1400.jpg?h=1dd3d00d&itok=YlY2OAn9); 
  alt = "Black_Woman_in_space_with_Virtual_Reality";
 background-size:cover
    
}

h1{
    color: #009999;
    font-size: 80px;
    font-family:fantasy;
    text-align:center;
}

h2{
    font-size:50px;
    color:floralwhite;
    text-align:center
}

.h01 {
    font-size: 75px;
    text-align: left;
    color: floralwhite;
    font-family: sans-serif 
}

P {
    color:aliceblue;
    font-size: 20px;
    
}