body {
  background-image: url(https://www.sjpl.org/sites/default/files/styles/hero_image/public/2019-09/virtual-reality-1400.jpg?h=1dd3d00d&itok=YlY2OAn9); 
  alt = "Black Woman in space with Virtual Reality";
 background-size:cover
    
}

h1{
    color: #009999;
    font-size: 80px;
    font-family:fantasy;
    text-align:center;
}

h2{
    font-size:50px;
    color:floralwhite;
    text-align:center
}

.heading{
    font-size:30px;
    text-align:left;
    color:floralwhite
    
}