
body {
  background-image: url(https://www.sjpl.org/sites/default/files/styles/hero_image/public/2019-09/virtual-reality-1400.jpg?h=1dd3d00d&itok=YlY2OAn9); 
  alt = "Black_Woman_in_space_with_Virtual_Reality";
 background-size:cover
    
}

h1{
    color: #009999;
    font-size: 80px;
    font-family:fantasy;
    text-align:center;
    text-shadow: 2px 2px 2px 2px 2px red;
}

h2{
    font-size:50px;
    color:floralwhite;
    text-align:center
}

.h01 {
    font-size: 75px;
    text-decoration: underline;
    text-align: center;
    color: floralwhite;
    font-family: sans-serif 
}

pre{
    text-align: center;
    color:aliceblue;
    font-size:20px;
    font-family: serif;
    font-feature-settings: normal;
    
}

P {
    color:aliceblue;
    font-size: 20px;
    font-family: serif;
    text-align:inherit;
    
}

ul {
  list-style-type: none;
  margin: 0;
  padding:0;

}

li{
    float:inherit;
    
}

#pot{
    color:aliceblue;
    font-size:30px;
    text-align:center;
}


https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css